@page
@model Rookie.Ecom.MetaShop.Customer.Pages.Profile.History.ProductRatingModel
@{
}
<label for="input-2" class="control-label">Rate This</label>
<input id="input-2" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1">