@page
@model Rookie.Ecom.MetaShop.Customer.Pages.Errors.Error403Model
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="~/css/403.css" type="text/css" />
<body>

    <div class="lock"></div>
    <div class="message">
        <h1>Access to this page is restricted</h1>
        <p>Please check with the site admin if you believe this is a mistake.</p>
        <a asp-page="/Home/Index">Back to Home</a>
    </div>
</body>
</html>