@page
@model Rookie.Ecom.MetaShop.Customer.Pages.Profile.IndexModel
@{
}

<h1> Hello @Model.CurrentUser.Email</h1>

<a asp-page="/Profile/History/Order/Index"> View Order History</a>
<a asp-page="/Profile/History/ProductRating"> Rating Test</a>