@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@using Rookie.Ecom.MetaShop.Contracts.Dtos.Product
@using Rookie.Ecom.MetaShop.Customer.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    List<ProductItemCartDto> Cart = Helpers.SessionHelper.GetObjectFromJson<List<ProductItemCartDto>>(HttpContextAccessor.HttpContext.Session, "cart");
    int totalItem = 0;
    if (Cart != null)
    {
        totalItem = Cart.Sum(i => i.Quantity);
    }
}

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>

                        <div class="header__top__right__auth">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div style="display: flex; justify-content: space-evenly;">
                                    <a asp-page="/Profile/Index"> Hello @User.Claims.FirstOrDefault(claim => claim.Type == "name").Value </a>
                                    <a asp-page="/Auth/Logout"><i class="fa fa-user"></i> Logout</a>
                                </div>
                            }
                            else
                            {
                                <div style="display: flex; justify-content: space-evenly;">


                                    <a asp-page="/Auth/Login"><i class="fa fa-user"></i> Login</a>
                                    <a asp-page="/Auth/Register"><i class="fa fa-user"></i> Register</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a asp-page="/Home/Index"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-page="/Home/Index">Home</a></li>
                        <li><a href="./shop-grid.html">Shop</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a asp-page="/Product/Cart">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a asp-page="/Home/Contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a asp-page="/Product/Cart"><i class="fa fa-shopping-bag"></i> <span> @totalItem </span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
